<div class="form-container">
  <form class="form-product">
    <div class="input-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Select a product</mat-label>
        <mat-select [(value)]="selectedProduct">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let product of products"
            value="{{ product.name }}"
            >{{ product.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [formControl]="dateFormControl"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <ng-container
          *ngIf="
            dateFormControl.invalid &&
            (dateFormControl.dirty || dateFormControl.touched)
          "
        >
          <mat-error *ngIf="dateFormControl.errors?.required">
            is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="dateFormControl.errors?.pattern">
            must be in format <strong>number</strong>
          </mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Sold Amount</mat-label>
        <input type="text" matInput [formControl]="amountSoldFormControl" />
        <ng-container
          *ngIf="
            amountSoldFormControl.invalid &&
            (amountSoldFormControl.dirty || amountSoldFormControl.touched)
          "
        >
          <mat-error *ngIf="amountSoldFormControl.errors?.required">
            is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="amountSoldFormControl.errors?.pattern">
            must be in format <strong>number</strong>
          </mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field
        *ngIf="isUpdate"
        class="example-full-width"
        appearance="fill"
      >
        <mat-label>Previous Stock Quantity</mat-label>
        <input
          type="text"
          matInput
          [formControl]="previousStockQuantityFormControl"
        />
        <ng-container
          *ngIf="
            previousStockQuantityFormControl.invalid &&
            (previousStockQuantityFormControl.dirty ||
              previousStockQuantityFormControl.touched)
          "
        >
          <mat-error *ngIf="previousStockQuantityFormControl.errors?.required">
            is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="previousStockQuantityFormControl.errors?.pattern">
            must be in format <strong>number</strong>
          </mat-error>
        </ng-container>
      </mat-form-field>
    </div>
    <div class="button wrapper">
      <button *ngIf="isCreate" mat-raised-button (click)="onCreateData()">
        Create
      </button>
      <button *ngIf="isUpdate" mat-raised-button (click)="onUpdateData()">
        Update
      </button>
    </div>
  </form>
</div>
